.frame {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: center;
  }

  article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    display: flex;
    span {
      flex: 1;
    }
    span:nth-child(1) {
      text-align: left;
      &:last-child {
        text-align: center;
      }
    }
    span:nth-child(2) {
      &:last-child {
        text-align: right;
      }
    }
  }
}