@mixin keyframes($animation) {
  @if $animation == 'grow-vertically' {
    @keyframes #{$animation} {
      from { transform: scaleX(0); }
      to { transform: scaleX(1); }
    }
    @-webkit-keyframes #{$animation} {
      from { -webkit-transform: scaleX(0); }
      to { -webkit-transform: scaleX(1); }
    }
  }
  @if $animation == 'fade-in' {
    @keyframes #{$animation} {
      from { opacity: 0; }
      to { opacity: 1; }
    }
    @-webkit-keyframes #{$animation} {
      from { opacity: 0; }
      to { opacity: 1; }
    }
  }
  @if $animation == 'fade-out' {
    @keyframes #{$animation} {
      from { opacity: 1; }
      to { opacity: 0; }
    }
    @-webkit-keyframes #{$animation} {
      from { opacity: 1; }
      to { opacity: 0; }
    }
  }
  @if $animation == 'fade-out-down' {
    @keyframes #{$animation} {
      from { opacity: 1; transform: translateY(0); }
      to { opacity: 0; transform: translateY(100%); }
    }
    @-webkit-keyframes #{$animation} {
      from { opacity: 1; -webkit-transform: translateY(0); }
      to { opacity: 0; -webkit-transform: translateY(100%); }
    }
  }
}