// Fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Move
.moveleft-enter-active,
.moveleft-leave-active,
.moveright-enter-active,
.moveright-leave-active {
  transition: transform .3s;
  -webkit-transition: transform .3s;
}
.moveleft-enter {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
.moveleft-leave-to {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
.moveright-enter {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
.moveright-leave-to {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}