// Fade
.fade-enter-active, .fade-leave-active {
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Move
.moveleft-enter-active,
.moveleft-leave-active,
.moveright-enter-active,
.moveright-leave-active {
  transition: 400ms;
  -webkit-transition: 400ms;
}
.moveleft-enter {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  opacity: 1;
}
.moveleft-leave-to {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  opacity: 0;
}
.moveright-enter {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  opacity: 1;
}
.moveright-leave-to {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  opacity: 0;
}