@import 'colours';
@import 'textstyles';

@font-face {
  font-family: 'Helvetica Ultra Compressed';
  src: url('/fonts/Helvetica-UltraCompressed.otf');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 500;
  src: url('/fonts/FoundersGrotesk-Medium.otf');
}

html, body {
  font-family: 'Founders Grotesk', sans-serif;
  font-weight: 500;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $green;
  color: $yellow;
}

h1, .h1 {
  @include header(1);
}

h2, .h2 {
  @include header(2);
}